* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
body {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

li {
    list-style-type: none;      
}

textarea {
    resize: none;
}


// Mixins ----------------------------------------------
@mixin flex ($just: center, $align: center, $dir:column, $wrap: wrap) 
{
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;  
    flex-wrap: $wrap;  
}

// Variables ----------------------------------------------
$WildOrange: #F76C6C;